<label> Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdatedServerName($event)" />
<p [innerText]="serverName"></p> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p [innerText]="serverName"></p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewserver"
  (click)="onCreateServer()"
>
  Add server
</button>
<!-- <p [innerText]="allowNewserver"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreate; else noServer">
  {{ "Server of Created! Name is" + serverName }}
</p>
<ng-template #noServer>
  <p>No server created</p>
</ng-template>
<!-- <p *ngIf="!serverCreate">No server created</p> -->
<div *ngFor="let server of servers; let i = index">
  {{ i }}
  <app-server></app-server>
</div>
